<main class="cf pa2 pa3-m pa4-l mw9 center">
  <div class="fr w-100 w-80-l">
    <p class="f6">
      alt-country americana
    </p>
    <h1 class="f2 f1-l athelas lh-title mt0 mb3 mb4-ns">
      The Verdant Mile
    </h1>
  </div>
  <div class="f5 sans-serif lh-copy fl w-100 mb4">
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        <a href="{{ site.baseurl }}/" class="underline link dim black">Home</a>
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        <a href="{{ site.baseurl }}/shows/" class="underline link dim black">Shows</a>
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        <a href="{{ site.baseurl }}/music/" class="underline link dim black">Music</a>
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        <a href="mailto:{{ site.email }}" class="underline link dim black">Contact</a>
      </p>
    </div>
  </div>
  <div class="fr w-100 athelas f4 lh-copy">
