<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <link rel="stylesheet" media="all" href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css">
  <link rel="shortcut icon" href="{{ "/assets/images/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="icon" href="{{ "/assets/images/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
</head>
